.PasswordChange {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .password-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
    .password-show {
      background-color: var(--primary-color);
      padding: 10px;
      border-radius: 10px;
    }
    .outline {
      margin-top: 20px;
      height: 1px;
      background-color: var(--accent-color);
      color: #f2f5fa;
    }
  }
  margin-bottom: 20px;
}
