.PasswordChange {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .update-profile {
      z-index: 1;
      width: 50%;
      height: 200px;
      background-color: white;
      position: absolute;
      border-radius: 10px;
      left: 25%;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        .update-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;

          h3 {
            font-weight: 700;
            font-size: 1.2rem;
          }
        }
        .update-info {
          display: flex;

          .update-left {
            width: 100%;

            .merge {
              background-color: red;
              display: flex;
              align-items: center;
              border-radius: 10px;
              padding-inline: 20px;
              background-color: #f2f5fa;
              border: none;
              input {
                flex: 1;
              }
            }
            form {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .btn-box {
                width: 100%;
                display: flex;
                justify-content: end;
                gap: 22px;

                .btn-cancel {
                  background-color: black;
                }
              }

              input {
                border-radius: 10px;
                padding-block: 10px;
                padding-inline: 20px;
                background-color: #f2f5fa;
                border: none;
                font-size: 1.1rem;

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
    .password-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
    .password-show {
      background-color: var(--primary-color);
      padding: 10px;
      border-radius: 10px;
    }
    .outline {
      margin-top: 20px;
      height: 1px;
      background-color: var(--accent-color);
      color: #f2f5fa;
    }
  }
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .PasswordChange {
    .container {
      .update-profile {
        width: 100%;
        left: 0;
        background-color: white;
      }
    }
  }
}
