@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --accent-color: #080f0f;
}
body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-color: #f2f5fa;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 95%;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #f3912e;
  color: white;
  padding-inline: 30px;
  padding-block: 7px;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #c77e36;
}
.btn-primary:active {
  background-color: #f3912e;
}

.hover-link {
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.hover-link:hover {
  transform: scale(1);
}
.hover-link:active {
  transform: scale(0.9);
}
