.AboutMe {
  .aboutme-container {
    margin-top: 20px;
    height: 150px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .about-me-section {
      display: flex;
      justify-content: space-between;

      .flex-btn {
        display: flex;
        gap: 20px;
      }

      h3 {
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
    .input-box {
      textarea {
        font-size: 1rem;
        height: auto;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        font-family: "Open Sans", "Segoe UI";
        border: none;
        background-color: var(--primary-color);
        color: var(--accent-color);

        &:focus {
          outline: none;
        }
      }
      .aboutMe-data {
        padding: 15px;
        background-color: red;
        height: auto;
        border-radius: 10px;
        font-size: 1rem;
        width: 100%;
        font-family: "Open Sans", "Segoe UI";
        border: none;
        background-color: var(--primary-color);
        color: var(--accent-color);
      }
    }
    .bottum-line {
      background-color: var(--accent-color);
      height: 1px;
      color: #f2f5fa;
    }
  }
  margin-bottom: 100px;
}
